body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0;
}

.main {
    width: 95%;
    background-color: rgb(247, 247, 247);

}

.side-bar {
    background-color: rgb(247, 247, 247);
    width: 5%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    padding: 0px 10px;
    width: 109px;
    height: 40px;
}

.icons {
    height: 40px;
    width: 40px;
}

.icons>svg {
    height: 80%;
    width: 80%;
}




nav {
    height: 10%;
    background-color: rgb(247, 247, 247);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 1px;
    width: 550px;
    height: 40px;
    padding: 2px 8px;
    border-radius: 20px;
    background-color: #e9eef6;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-icons {
    cursor: pointer;
    display: flex;
    gap: 3px;
}

.nav-icons>img {
    height: 30px;
}

.nav-icons>.annotation {
    mix-blend-mode: darken;
}




form>img {
    width: 20px;
}

form>input {
    width: 90%;
    border: none;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0);
}

form>input:focus {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: white;
}


main {
    display: flex;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

.section-1 {
    width: 20%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-2 {
    height: 100%;
    width: 80%;
    padding: 5px;
    overflow: hidden;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.email-nav {
    height: 8%;
    display: flex;
    padding: 5px

}

    


.left-side{
    width: 50%;
    display: flex;
    gap: 10px;
}

.email-nav-icon{
    width: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.right-side{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 8px;
}

.right-side>span{
    font-size: 0.9em;
}

.box{
    background-image: url(./assets/check_box_outline_blank_black_20dp.png);
}

.arrow{
    background-image: url(./assets/arrow_drop_down_baseline_nv700_20dp.png);
}

.refresh{
    background-image: url(./assets/refresh_baseline_nv700_20dp.png);
}

.email-nav-more{
    background-image: url(./assets/expand_more_baseline_nv700_20dp.png);
}



.emails {
    height: 92%;
    overflow: scroll;
    cursor: pointer;
}

.star{
    width: 23px;
}

.email-options {
    display: flex;
    gap: 0px 15px;
    justify-content: space-between;
    cursor: pointer;
}

.email-option {
    width: 25%;
    padding: 3px 7px;
}

.email-option:hover {

    border-bottom: 3px solid blue;
}

.primary {
    color: blue;
    border-bottom: 3px solid blue;
}

.email-option>h3 {
    font-size: 1em;
}

.email{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.email:hover{
    box-shadow: 0px 0px 2px 0px black;
}

.email>p{
    width: 68%;
    font-size: 0.9em;
    padding: 1px 5px ;
    text-overflow: ellipsis;
    /* overflow-x: hidden; */
}
.email>h4{
    width: 20%;
    font-size: 0.9em;
}

.email>img{
    width: 20px;
}

.email>span{
    text-align: right;
    padding: 1px 8px;
    width: 8%;
}

.compose {
    border-radius: 16px;
    border: none;
    color: #001d35;
    height: 35px;
    width: 60%;
    padding: 10px;
    background-color: #c2e7ff;
    font-size: 1em;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-self: right;
    margin-left: 7px;
}

.options {
    width: 90%;
    padding: 0px 0px 0px 20px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.options>img{
    width: 20px;
    padding: 0px 5px;
}

.name-number {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.numbers {
    text-align: center;

}

.inbox {
    background-color: #a8c7fa;
}

.inbox:hover {
    background-color: #a8c7fa !important;
}



.options:hover {
    background-color: rgb(230, 230, 230) !important;
}

.compose:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
    background-color: #c2e7ff;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.side-bar-logo {
    height: 50px;
    width: 32px;
    /* padding: 15px 0px 0px 0px ; */
    display: flex;
    align-items: center;
}

.side-bar-logo>img {
    height: 32px;
    width: 30px;
    border-radius: 50%;
}

.side-bar-icons {
    height: 40px;
    width: 75%;
    max-width: 32px;
    background-position: center;
    background-repeat: no-repeat;
}

.calander {
    background-image: url(./assets/calendar_2020q4_2x.png);
    background-size: contain;
}

.tips {
    background-image: url(./assets/keep_2020q4v3_2x.png);
    background-size: contain;
}

.tick {
    background-image: url(./assets/tasks_2021_2x.png);
    background-size: contain;
}

.contact {
    background-image: url(./assets/contacts_2022_2x.png);
    background-size: contain;
}

.plus {
    background-image: url(./assets/gm_add_black_24dp.png);
    background-size: contain;
    margin-top: 30px;
}



@media screen and (max-width:625px) {
    form {
        display: none;
    }

    .name-number {
        display: none;
    }

    .options {
        background-color: inherit;
    }

    .compose-text {
        display: none;
    }

    .label-text {
        display: none;
    }
}