
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');


body{
    background-image: url(./assets/background2.jpeg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
.main-heading{
    background-color: #f3d784;
    display: flex;
    justify-content:center;
    gap: 20px;
    font-size: 1.5em;
    font-family: "DynaPuff", serif;
    border-radius: 30px;
    color: #ff5613;
    margin-bottom: 10px;
    
    

}



.main-heading>img{
    mix-blend-mode: multiply;
}


.nav{
    height: 100px;
    text-align: center;
    /* width: 100vw; */
    background-color: hsl(57, 85%, 71%);
    border-radius: 30px;
    position:sticky;
    top: 3px;
    overflow: auto;

}

.nav a{
    color: #ff5613;
    text-decoration: none;
    font-family: "DynaPuff", serif;
    font-size: 2em;

}

span.alpha{
   padding: 18px;
}

span a:hover{
    text-decoration: underline;
    text-decoration-color: #ff5613;
    text-decoration-thickness: 3px;
}

.alpha-box{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    margin: 20px auto;
    width:700px;
    height: 210px;
    border-radius: 20px;
    background-color: #f3d784;
}

.alpha-box:hover{
    box-shadow: 2px 5px 10px 0px black;
}

.alphabet{
    width: 30%;
    text-align: center;
    vertical-align: bottom;
}

.alphabet>span{
    font-family:"DynaPuff", serif; 
    font-size: 9em;
    padding: 10px;
    color: #ff5613;
    
}


.alpha-name{
    width: 30%;
    display: flex;
    justify-content:center;
    align-items:center;

}

.alpha-name>span{
    color: #ff5613;
    font-family: "DynaPuff", serif;
    font-size: 2em;
}

.alpha-image{
    width:35%;
    display: flex;
    align-items: center;
}

.alpha-image>img{
    border-radius: 30px;
    /* mix-blend-mode:multiply; */
    /* mix-blend-mode: color-burn; */
    width: 180px;
}

button{
    background-color: red;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: fixed;
    bottom: 3px;
    right: 3px;
    color: white;  
  text-decoration: none;
  font-size: 2em;
}
.go-top a{
  color: white;  
  text-decoration: none;
  font-size: 0.9em;
}