
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DynaPuff:wght@400..700&display=swap');

body{
    font-family: "Barlow", serif;
    background-color: #0931e2;
    padding: 0px 85px;
}


.logo{
    width: 70%;
}

.logo>a{
    color: white;
    text-decoration: none;
}

.logo>h1{
    color: white;
    font-size: 1.7em;
    font-family: "Barlow", serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
  }

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
   
.nav>ul{
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav>ul a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;

}

.nav>ul a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.main-palettes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    row-gap: 50px;
}


.image-palette>img{
    height: 230px;
    width: 310px;
    border-radius: 7px;
}
.palette{
    display: flex;
    flex-direction: column;
    padding: 8px 5px 0px 8px;
    background-color:white;
    height: 230px;
    width: 280px;
    border-radius: 7px;
    row-gap: 4px;
}

.palette img{
    width: 275px;
}

.palettes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 50px;
}



.palette-name{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3px;
    height: 30px;
}
.palette-name>h2{
    width: 80%;
    font-size: 1.1em;
    font-weight: 650;
}


.palette-name>span{
    width: 20%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


.second-nav{
    background-color: #00000085;
    height: 60px;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.second-nav>span{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}


@media screen and (max-width:1024px){
    
    .image-palette{
        display: none;
    }

}
@media screen and (max-width:768px){
    
    body{
        padding: 0px 50px;
    }

    .main{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    
    .nav>ul{
        display: none;
    }

    .second-nav{
        display: none;
    }

    .nav{
        justify-content: center;
    }

    .logo{
        text-align: center;
    }


}
@media screen and (max-width:425px){
    
    body{
        padding: 0px 5px;
    }



    .main-palettes{
        flex-direction: column;
    }

    .palettes{
        justify-content: center;

    }

    .main-palettes{
        align-items: center;
        margin-bottom: 0px;
    }

}
